<footer class="footer">
	<div class="contact"><a class="btn-fb" href="https://www.facebook.com/profile.php?id=100000384289382" target="_blank"><i class="fab fa-facebook-f"></i></a><a class="btn-ig" href="https://www.instagram.com/a12462004/" target="_blank"><i class="fab fa-instagram"></i></a><a class="btn-github" href="https://github.com/a12462004?tab=repositories" target="_blank"><i class="fab fa-github"></i></a></div>
</footer>