<header class="hero">
    <hgroup>
        <h1 class="header-title">My Album</h1>
    </hgroup>
</header>
<main class="content" style="display: grid;">
    <div class="album-list inner"><a class="album-item" data-fancybox="gallery" href="images/image01.jpg"><img src="images/image-thumb01.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image02.jpg"><img src="images/image-thumb02.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image03.jpg"><img src="images/image-thumb03.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image04.jpg"><img src="images/image-thumb04.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image05.jpg"><img src="images/image-thumb05.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image06.jpg"><img src="images/image-thumb06.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image07.jpg"><img src="images/image-thumb07.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image08.jpg"><img src="images/image-thumb08.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image09.jpg"><img src="images/image-thumb09.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image10.jpg"><img src="images/image-thumb10.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image11.jpg"><img src="images/image-thumb11.jpg">
        <div class="img-mask"><span>title of first image</span></div></a><a class="album-item" data-fancybox="gallery" href="images/image12.jpg"><img src="images/image-thumb12.jpg">
        <div class="img-mask"><span>title of first image</span></div></a>
    </div>
</main>