<header class="hero">
<hgroup>
  <h1 class="header-title">My Blog</h1>
</hgroup>
</header>
<div class="inner">
<main class="content">
  <div class="bloglist">
    <h3 class="life">Life</h3>
	  <div class="blogitem">
	    <div class="blogimg"><img src="http://f.cl.ly/items/352D1O003o1g3Z161x2s/oie_16945413oQxUbMz.jpg"></div>
	    <div class="blogcontent">
	      <h4 class="blog-title">TitleTitle</h4>
	      <div class="blog-sumary">Crediting isn’t required, but is appreciated and allows photographers to gain exposure. Copy the text below
	      </div>
	      <div class="blog-date">2018/04/16</div>
	    </div>
	  </div>
	  <div class="blogitem">
	    <div class="blogimg"><img src="http://f.cl.ly/items/452X0a1q1D3x2K3S1P0y/oie_16940406N4R6zsP.jpg"></div>
	    <div class="blogcontent">
	      <h4 class="blog-title">TitleTitle</h4>
	      <div class="blog-sumary">Crediting isn’t required, but is appreciated and allows photographers to gain exposure. Copy the text below 
	      </div>
	      <div class="blog-date">2018/04/16</div>
	    </div>
	  </div>
	  <div class="blogitem">
	    <div class="blogimg"><img src="http://f.cl.ly/items/2p1H2R0b2B0A18072r3W/oie_1694433E3ZF0eDi.jpg"></div>
	    <div class="blogcontent">
	      <h4 class="blog-title">TitleTitle</h4>
	      <div class="blog-sumary">Crediting isn’t required, but is appreciated and allows photographers to gain exposure. Copy the text below
	      </div>
	      <div class="blog-date">2018/04/16</div>
	    </div>
	  </div>
    <h3 class="learn">Learn</h3>
              <div class="blogitem">
                <div class="blogimg"><img src="http://f.cl.ly/items/3P1N2J2m2d3F322d2q2n/oie_1694399SIMn100.jpg"></div>
                <div class="blogcontent">
                  <h4 class="blog-title">TitleTitle</h4>
                  <div class="blog-sumary">Crediting isn’t required, but is appreciated and allows photographers to gain exposure. Copy the text below 
                  </div>
                  <div class="blog-date">2018/04/16</div>
                </div>
              </div>
              <div class="blogitem">
                <div class="blogimg"><img src="http://f.cl.ly/items/3w0X3T0k1h2z0i3w2t3m/oie_1694124A4LESQG7.jpg"></div>
                <div class="blogcontent">
                  <h4 class="blog-title">TitleTitle</h4>
                  <div class="blog-sumary">Crediting isn’t required, but is appreciated and allows photographers to gain exposure. Copy the text below 
                  </div>
                  <div class="blog-date">2018/04/16</div>
                </div>
              </div>
              <div class="blogitem">
                <div class="blogimg"><img src="http://f.cl.ly/items/0o3a0N1A251b2T2b3E3A/oie_169429Y1uE8Hkc.jpg"></div>
                <div class="blogcontent">
                  <h4 class="blog-title">TitleTitle</h4>
                  <div class="blog-sumary">Crediting isn’t required, but is appreciated and allows photographers to gain exposure. Copy the text below 
                  </div>
                  <div class="blog-date">2018/04/16</div>
                </div>
              </div>
  </div>
</main>
<aside class="right-col">
</aside>
</div>