<header class="hero">
<hgroup>
  <h1 class="header-title animated pulse">WELCOME</h1>
</hgroup>
</header>
<main class="content">
	<div class="side">
	  <div class="info">
		<div class="avatar"><img src="http://f.cl.ly/items/0X470z0E2W091H1F1M0T/S__45441046.jpg"></div>
		<h1 class="name">Tammy</h1>
		<p>我是一位即將畢業成為社會新鮮人的大四生，這裡紀錄了我的生活及學習歷程，還請各位多多指教!</p>
	  </div>
	  <div class="airtcle-list">
		<h1 class="title">文章列表</h1>
		<ul>生活
		  <li><a href="#">日記(0)</a></li>
		  <li><a href="#">出遊(0)</a></li>
		</ul>
		<ul>學習
		  <li><a href="#">PHP(0)</a></li>
		  <li><a href="#">Ruby on Rails(0)</a></li>
		</ul>
	  </div>
	</div>
	<div class="new">
	  <div class="airtcle">
		<div class="content-img" style="background-image: url(http://f.cl.ly/items/0V0Y3k3B1M0J0C2r022h/john-matychuk-284377-unsplash.jpg);"></div>
		<div class="content-title">日常生活</div>
		<div class="content-date">2018/06/23</div>
		<div class="content-text">Crediting isn’t required, but is appreciated and allows photographers to gain exposure. Copy the text below
		</div>
	  </div>
	  <div class="airtcle">
		<div class="content-img" style="background-image: url(http://f.cl.ly/items/3H112m293b0K1z2C152q/henri-l-547224-unsplash.jpg);"></div>
		<div class="content-title">學習UI/UX</div>
		<div class="content-date">2018/06/23</div>
		<div class="content-text">Crediting isn’t required, but is appreciated and allows photographers to gain exposure. Copy the text below
		</div>
	  </div>
	</div>
</main>