.contact{
  text-align: center;
  background: rgba(#000,0.4);
  margin-top: 10px;
  a{
    display:inline-block;
    width:32px;
    height:32px;
    border-radius:50%;
    font-size:21px;
    color:#fff;
    line-height:34px;
    margin:20px 10px;
    &.btn-fb{
      background:#4267B2;
    }
    &.btn-ig{
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
    &.btn-github{
      background:#000;
    }
  }
}